[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "image_emotion_detection"

[packages]
numpy = "*"
matplotlib = "*"
jupyter = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.10"
